body{
  line-height: 1.5;
  color:#121212;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;

}
ul{
  list-style-type: none;
}
a{
  line-height: 2;
  color:#545454;
  text-decoration: none;
  transition:color 0.2s;
}
a:visited{
  color:#3d3d3d
}
a:hover{
  color:#000;
  transition:color 0.2s;
}

.source{
  color:#000 !important;
  font-weight: bold !important;
}
